html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* =============================================================================
TYPOGRAPHY
============================================================================= */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #090909;
}

.fabiomonzani {
  background-color: #d4dde7;
  border-radius: 5px;
  padding: 5px 8px;
}

img {
  vertical-align: unset;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-header {
  background-color: #f2f2f2;
}

/* =============================================================================
NAVBAR
============================================================================= */

.navbar {
  background-color: rgba(242, 242, 242, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.nav-item {
  margin-left: 16px;
  margin-right: 16px;
}

.nav-link {
  color: #8b8b8b;
}

.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  right: -4px;
  border-radius: 50%;
  background: #007bff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 123, 255, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(0, 123, 255, 0.5);
  display: block;
  animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 123, 255, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(0, 123, 255, 0.5);
  }

  100% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 123, 255, 0);
    box-shadow: 0px 0px 0px 10px rgba(0, 123, 255, 0);
  }
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.hero {
  height: 100vh;
  padding-top: 3.75rem;
}

/* =============================================================================
UTILITIES
============================================================================= */
.mb-10 {
  margin-bottom: 10rem;
}

.bg-gray-50 {
  background-color: #f2f2f2;
}

.tiny {
  font-size: 0.6rem;
}

.icon-small {
  font-size: 2.5rem;
  color: #6c7488;
}

.large {
  font-size: 4rem;
  color: #6c7488;
  cursor: pointer;
}

.xlarge {
  font-size: 12rem;
  color: #6c7488;
}

/* =============================================================================
CARD
============================================================================= */

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
}

.card-empty {
  background-color: transparent;
}

.card-accent {
  background-color: rgba(0, 123, 255, 0.16);
  border: 1px solid rgba(0, 123, 255, 0.16);
}

.card-terminal {
  background-color: #282c34;
  color: #abb2bf;
  border: 1px solid #4d5c7b;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.card-header {
  border: 1px solid #4d5c7b;
}
.card-footer {
  background-color: #ffffff;
  border: none;
  padding: 0;
}

.card-front {
  opacity: 0;
  position: relative;
  animation: fadeIn 0.6s ease-out forwards;
}
.card-mid {
  opacity: 0;
  position: absolute;
  padding-right: 3rem;
  top: -10%;
  animation: fadeIn 0.9s ease-out 0.3s forwards;
}
.card-back {
  opacity: 0;
  position: absolute;
  padding-right: 3rem;
  top: -18%;
  animation: fadeIn 1.2s ease-out 0.6s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0rem);
  }
}

/* =============================================================================
FEATURED
============================================================================= */
.feature-logo {
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.feature-logo:hover {
  filter: grayscale(0%);
}

.logos-row {
  height: 80px;
  background-repeat: repeat-x;
  background-position: 0 0;
}

.row-1 {
  background-image: url("../img/logos-row-1.svg");
  animation: slide 20s linear infinite;
}
.row-2 {
  background-image: url("../img/logos-row-2.svg");
  animation: slide-lg 20s linear infinite;
}
.row-3 {
  background-image: url("../img/logos-row-3.svg");
  animation: slide 20s linear infinite;
}
.row-4 {
  background-image: url("../img/logos-row-4.svg");
  animation: slide-lg 20s linear infinite;
}
.row-5 {
  background-image: url("../img/logos-row-5.svg");
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -648px 0;
  }
}

@keyframes slide-lg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -756px 0;
  }
}

/* =============================================================================
FOOTER
============================================================================= */

footer {
  background-color: #f2f2f2;
  padding-top: 8rem;
}

.footer-list a {
  text-decoration: none;
}
.footer-list a:hover {
  text-decoration: double;
}

.footer-list li {
  list-style-type: none;
}

.footer-list > li:first-child {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.opacity-50 {
  opacity: 0.5;
}

/* =============================================================================
MODALS
============================================================================= */
.modal-header,
.modal-footer,
.modal-content {
  border: none;
  border-radius: 1rem;
}

.modal {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.modal-content {
  box-shadow: 0px 0px 100px 15px rgb(0 0 0 / 20%);
}

.modal-backdrop.show {
  background-color: #19191a;
  opacity: 0.1;
}

/* =============================================================================
FORMS
============================================================================= */
.input-search .form-control {
  top: -56px;
  border: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(108, 116, 136, 0.16);
  -moz-box-shadow: 0px 0px 12px 0px rgba(108, 116, 136, 0.16);
  box-shadow: 0px 0px 12px 0px rgba(108, 116, 136, 0.16);
}

.input-search .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aebccc;
  font-size: 1rem;
}

.input-search .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #aebccc;
  font-size: 1rem;
}

#tickerDetail,
#iconDetail {
  background-image: url("../img/checker.png");
  background-size: cover;
}

.input-search {
  margin-top: -1.5rem;
}

#searchTicker,
#searchName {
  border: 1px solid #e7e7e7;
}

.font-showcase {
  height: 100%;
  width: 100%;
  background-image: url("../img/checker.png");
  background-size: cover;
  background-size: 150px 150px;
  padding: 15px;
}

.font-section {
  height: 400px;
}

.utils-showcase {
  height: 600px;
}

.bg-utils-showcase {
  min-height: 70%;
  background-image: url("../img/utils-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.icons-showcase {
  height: 600px;
}

.bg-icons-showcase {
  min-height: 70%;
  background-image: url("../img/icons-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.expand {
  transition: transform 0.4s;
  cursor: pointer;
}

.expand:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.qrcode {
  border: 4px black solid;
  border-radius: 16px;
}
#copyAddress {
  cursor: pointer;
}

.radio {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.badge-outline {
  border-radius: 4px;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

/* =============================================================================
ORBIT
============================================================================= */

.orbit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -9999;
}
#orbit-2 {
  animation: rotation 100s ease-out infinite;
}
#orbit-3 {
  animation: rotation 250s ease-out infinite;
}
#orbit-4 {
  animation: rotation 75s ease-out infinite;
}
#orbit-5 {
  animation: rotation 125s ease-out infinite;
}
#orbit-6 {
  animation: rotation 75s ease-out infinite;
}
#orbit-7 {
  animation: rotation 125s ease-out infinite;
}
#orbit-8 {
  animation: rotation 225s ease-out infinite;
}
#orbit-9 {
  animation: rotation 225s ease-out infinite;
}

@keyframes rotation {
  0% {
    opacity: 0;
    transform: rotate(-20deg) scale(0.8);
    transform-origin: 50% 50%;
  }
  0.5% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transform-origin: 50% 50%;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
    transform-origin: 50% 50%;
  }
}

.bg-blur {
  background: rgb(242, 242, 242);
  background: -moz-linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
  background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#f2f2f2",GradientType=1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.bg-light-blue {
  background-color: rgba(0, 123, 255, 0.16);
}
/* =============================================================================
MOBILE
============================================================================= */
@media (max-width: 768px) {
  .hero {
    background-size: cover, cover;
    background-position: center, top;
  }

  .hero-text {
    top: 20%;
    width: 80%;
  }

  h1 {
    font-size: 2.4rem;
  }

  .navbar {
    background-color: rgba(242, 242, 242, 0.6);
  }
}
