html, body {
  font-family: 'Lato', sans-serif;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: #6C7488;
}
h1 {
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

p, a {
  font-weight: 400;
}
.white {
  color: #FFF;
}

.jumbotron {
  background-color: #F5F8FF;
}

.card-body > .fad,.fab {
  font-size: 64px;
  margin: 15px;
  color: #AEBCCC;
}
.fa-html5, .fa-github {
  margin: 0;
  font-size: 1rem;
}
.card-body > p {
  margin-bottom: 0;
}

.bg-custom {
  background-color: #F5F8FF;
}
.nav-item {
  margin-left: 16px;
  margin-right: 16px;
  color: #6C7488;
}
.navbar-brand {
  color: #6C7488 !important;
}
.hero {
  position: relative;
  margin-bottom: 80px;
}
.hero-text {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 50%;
}
@media (max-width: 768px) {
  .hero-text {
    width: 80%;
  }
  h1 {
    font-size: 1.4rem;
  }
}

.card {
  background-color: #F5F8FF;
  border: none;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
}

.get-started {
  background-color: #F5F8FF;
  padding-top: 50px;
}

.terminal {
  background-color: #343A3F;
  text-align: left;
  font-family: source code pro,monospace;
}
.terminal p {
  color: #adb5bc;
}
.card-header {
  background-color: unset;
  border-bottom: unset;
}
.list-inline {
  margin-bottom: 0;
}
.list-inline>li {
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
}
.dot {
  width: 15px;
  height: 15px;
  background-color: #575757;
  border-radius: 50%;
}
.code {
  background-color: #d4d4d4 !important;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 90%;
}
.markup {
  color: #e06c70;
}
.ref {
  color: #cb9a66;
}
.link {
  color: #98c379;
}
.section-footer {
  height: 300px;
  background-image: url('../img/section-footer.svg');
  background-position: left;
  background-size: cover;
}
footer {
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.footer-list a:hover {
  color: #AEBCCC;
  text-decoration: none;
}
.footer-list li {
  color: #6C7488;
  list-style-type: none;
  text-decoration: none;
}
.footer-list > li:first-child {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.opacity-50 {
  opacity: 0.5;
}

.modal-header, .modal-footer, .modal-content {
  border: none;
  border-radius: 1rem;
}

.form-control {
  top: -56px;
  border: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(108,116,136,0.16);
  -moz-box-shadow: 0px 0px 12px 0px rgba(108,116,136,0.16);
  box-shadow: 0px 0px 12px 0px rgba(108,116,136,0.16);
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AEBCCC;
  font-size: 1rem;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #AEBCCC;
  font-size: 1rem;
}
.large {
  font-size: 4rem;
  color: #6C7488;
  cursor: pointer;
}

.xlarge {
  font-size: 12rem;
  color: #6C7488;
}

#tickerDetail {
  background-image: url('../img/checker.png');
  background-size: cover;
}
.expand {
  transition: transform 0.4s;
}
.expand:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
